.card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 8px;
    width: calc(33.33333333% - 10px);
    background-color: aliceblue;

    box-shadow: 0 1px 3px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.5);
    transition: all 0.3s cubic-bezier(0.25,0,0.25,1);
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.5);
}
.image-wrapper{
    width: 100px;
    height: 80px;
    text-align: center;
    padding: 5px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.skill-title-wrapper{
    padding: 5px;
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
}
.cards{
    width: 100vw;
    padding: 0 18px;
    display: flex;
    flex-wrap: wrap;

}